*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  overflow: hidden;
}

input{
  width: 400px;
  height: 40px;
  z-index: 3  ;
}


canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}